{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "globals": {},
  "ignorePatterns": [
    "*.svg",
    "*.png",
    "*.bash",
    "*.log"
  ],
  "rules": {
    "react/jsx-one-expression-per-line": "off",
    "@typescript-eslint/semi": [
      2,
      "never"
    ],
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "no-console": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "react/jsx-no-duplicate-props": "off",
    "no-nested-ternary": "off",
    "no-dupe-class-members": "off",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "no-throw-literal": "off",
    "@typescript-eslint/type-annotation-spacing": [
      "error",
      {
        "after": true
      }
    ],
    "no-prototype-builtins": "off",
    "max-len": [
      "error",
      {
        "code": 150
      }
    ],
    "import/prefer-default-export": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "max-classes-per-file": "off",
    "prefer-destructuring": "off",
    "react/no-array-index-key": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "no-param-reassign": "off"
  }
}